<% model = @resources.model %>
<% column_names = model.column_names %>
<h1><%= t('title.index', model: model.model_name.human) %></h1>
<%= link_to t('title.new', model: model.model_name.human), { action: :new } %>

<table>
  <tr>
    <% column_names.each do |column| %>
      <th>
        <%= model.human_attribute_name(column) %>
      </th>
    <% end %>
  </tr>
  <% @resources.each do |resource| %>
    <tr>
      <% column_names.each do |column| %>
        <td>
          <%= format_for_table(resource.send(column)) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
